.container {
  display: flex;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
}

.menu {
  width: 320px;
}

.form {
  width: 100%;
  max-width: 480px;
}

.form div {
  width: 100%;
  text-align: right;
}

.error {
  color: #f00;
  text-align: center;
}
